@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>Confirm Email Address</h1>
<form method="post">
    <div>
        <p>
            Confirm your email before proceeding.
            <br />
            If you haven't received any email, please check your spam folder.
        </p>
        <br />
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-success form-control">Resend Activation</button>
            </div>
        </div>
    </div>
</form>